services:
  builder:
    build:
      context: ./client
      args:
        VITE_PANO_IMAGES: ${VITE_PANO_IMAGES}
        VITE_PANO_INFOS: ${VITE_PANO_INFOS}
        VITE_POINTCLOUD: ${VITE_POINTCLOUD}
        VITE_PANO_LIST: ${VITE_PANO_LIST}
    volumes:
      - frontend_dist:/app/dist

  nginx:
    image: nginx:alpine
    container_name: panorama_viewer
    depends_on:
      - builder
    ports:
      - ${PORT}:80
    env_file:
      - .env
    volumes:
      - frontend_dist:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ${DATAS}:/datas:ro

volumes:
  frontend_dist:
